@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root{
    --black-color:#191919;
    --white-color:#fff;
    --grey-color:#767676;
    --regular-size:400;
    --bold-size:700;
}

h1,h2,h3,h4,p,strong {
    font-family: 'Noto Sans KR';
    color: var(--black-color);
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--grey-color);
}


section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 0;
    backdrop-filter: blur(7px);
    box-shadow: 10px 0 15px rgba(0,0,0,0.3);
    transition: 0.5s;
    border-radius: 10px;
}

.first .video{
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.first .video video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.first h1 {
    position: absolute;
    top: 15%;
    color: var(--white-color);
    font-size: 10vh;
    line-height: 0.55em;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
    font-family: 'Dancing Script', cursive;
}

.clock-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
}

.needle {
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-out;
}

.needle.hour {
    transform: translate(-50%,-100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%,-100%) rotate(0deg);
    height: 100px;
}

.needle.second {
    transform: translate(-50%,-100%) rotate(30deg);
    height: 100px;
    background-color: #e74c3c;
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--black-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
    color: var(--white-color);
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.date {
    color: var(--white-color);
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.date .circle {
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
}

.first .time_ment {
    position: relative;
    top: 240px;
    color: var(--white-color);
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
    font-family: 'Noto Sans KR';
    font-size: 28px;
}

.first .fa-angle-double-down {
    position: absolute;
    color: var(--white-color);
    font-size: 60px;
    animation: arrow 1.3s ease-out infinite;
}

@keyframes arrow {
    0% {
        opacity: 0.9;
        bottom: 10%;
    }
    25% {
        opacity: 0.5;
    }
    50%{
        opacity: 0.9;
    }
    100%{
        opacity: 0.3;
        bottom: 5%;

    }
}


/* second */

#second {
    margin: auto;
    height: auto;
}

#second .grid{
    padding: 12%;
    display: grid;
    width: 100%;
    grid-template-rows: minmax(200px,450px) minmax(200px, 50px);
    /* 그리드 행 생성 - 최소200px ~ 최대450px , 최소px200~50px 총2개 생성  */
    grid-template-columns: minmax(500px,600px) minmax(500px,800px);
    /* 그리드 열 생성 - 생성 */
    gap: 0 50px;
    /* 그리드 틈 사이 조정 */
    grid-template-areas: 
    /* 그리드 템플릿 */
    "titles big-box"
    "slides .";
}


#second .titles {
    grid-area: titles;
    /* 그리드 템플릿 */
}

#second h2 {
    font-size: 38px;
    font-weight: var(--bold-size);
}

#second .introduce_ment {
    font-size: 22px;
    font-weight: var(--regular-size);
    color: var(--grey-color);
    max-width: 550px;
}

#second .slide_wrapper {
    position: relative;
    width: 520px;
    overflow: hidden;
}

#second .slides {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: slides;
    /* 그리드 템플릿 */
    align-self: start;
}

#second .slides.animated {
    transition: 0.5s ease-out;
}

#second .slides .box {
    width: 160px;
    height: 120px;
    position: relative;
}

#second .slides .box:not(:last-child) {
    margin-right: 20px;
}

#second .slides .box:first-child {
    margin-left: 0;
}

#second .slides .box:last-child {
    margin-right: 0;
}

#second .big-box {
    /* width: 948px;
    height: 593px; */
    width: 100%;
    height: 130%;
    grid-area: big-box;
    /* 그리드 템플릿 */
}

#second .big-box img {
    z-index: 1;
    background:no-repeat center;
    width: 100%;
    height: 100%;
}

#second img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#second .big-box-image {
    width: 100%;
    height: 100%;
    background:url(/image/프로필1.jpeg);
    background-size: cover;

}
button:focus {
    outline: none;
}

#second .slide_wrapper .chevron {
    padding: 11px 8px 11px 8px;
    background-color: rgba(0,0,0,0.5);
    color: var(--white-color);
    border: none;
}

.fa-arrow-right {
    font-size: 22px;
    font-weight: 300;
}

.slide_wrapper .chevron-left {
    z-index: 1;
    position: absolute;
    top: 20%;
}

.slide_wrapper .chevron-right {
    position: absolute;
    top: 20%;
    right: 0;
}

/* third */

#third {
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    height: auto;
}


#third h2 {
    font-size: 50px;
    font-weight: var(--bold-size);
}

#third h3 {
    color: var(--grey-color);
    font-size: 22px;
    margin-top: 0;
}

#third .third_boxes {
    display: flex;
    align-items: center;
    height: 400px;
}

#third .third_boxes .box {
    margin: 0 25px 0 25px;
    width: 480px;
    height: 332px;
    background-color: #ccc;
}

#third .third_boxes .box:first-child {
    margin-left: 0;
}

#third .third_boxes .box.active {
    width: 550px;
    height: 400px;
    transition: 0.2s
}

#third .third_boxes .box:last-child {
    margin-right: 0;
}

#third .third_boxes .box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#third .texts strong {
    font-family: "Roboto";
    margin-top: 0;
    font-size: 64px;
    font-weight:900;
}

#third .texts h2 {
    font-size: 28px;
    font-weight: var(--bold-size);
    margin: 0;
}

#third .texts h3 {
    font-size: 22px;
    margin-top: 5px;
    color: var(--grey-color);
}

.progress_bar {
    position: relative;
    margin-top: 50px;
    margin: 50px 0 0 30px;
}

input[type='range'] {
    width: 300px;
    margin: 18px 0;
    -webkit-appearance: none;
}

input[type='range']:focus {
    outline: none;
}

input[type='range'] + label {
    background-color: #fff;
    position: absolute;
    top: -30px;
    left: -20px;
    width: 80px;
    padding: 5px 0;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

input[type='range']::-webkit-slider-runnable-track {
    background: var(--black-color);
    border-radius: 4px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid var(--black-color);
    margin-top: -7px;
    cursor: pointer;
}

/* last */

#last {
    margin-top: 10%;
    margin-left: 12%;
    position: relative;
}


#last h1 {
    font-family: 'Roboto';
    font-size: 120px;
    margin: 0;
}

#last .typing {  
    animation: cursor 0.3s infinite;
    display: inline-block;
} 
@keyframes cursor{ 
    0%{border-right: 15px solid #fff} 
    50%{border-right: 15px solid #000} 
    100%{border-right: 15px solid #fff} 
}

#last .blink_text {
    position: relative;
}

#last .blink_text_bottom {
    position: absolute;
    top: 27%;
}

#last .last_ment {
    font-size: 40px;
}

#last ul {
    list-style-type: none;
    display: flex;
    align-content: space-between;
}

#last ul > li {
    margin: 0 100px 0 100px;
    font-size: 100px;
}

#last ul > li a {
    list-style: none;
    text-decoration: none;
}

#last ul > li a:link {
    color: var(--black-color);
}

#last ul > li a:visited {
    color: var(--black-color);
}

#last ul > li:first-child a:hover {
    transform: scale(1.2);
    transition: 0.5s;
    color: #612882;
}

#last ul > li:nth-child(2) a:hover {
    transform: scale(1.2);
    transition: 0.5s;
    color: #26C394;
}

#last ul > li:last-child a:hover {
    transform: scale(1.2);
    transition: 0.5s;
    color: #4284f4;
}

@media screen and (max-width:1024px) {

    #second .grid {
    grid-template-rows: 400px 200px;
    grid-template-columns: none;
    grid-template-areas: 
    "titles"
    "slides"
}

    #second .slides .box {
        width: 250px;
        height: 150px;
    }

    #second .big-box {
        display: none;
    }

    #third .third_boxes .box {
        width: 300px;
        height: 250px;
    }

    #third .third_boxes .box:first-child {
        width: 330px;
        height: 280px;
    }

    #last h1 {
        font-size: 80px;
        
    }

    #last .last_ment {
        font-size: 30px;
    }
}

@media screen and (max-width:768px) {
    #second .slides .box {
        width: 170px;
        height: 120px;
    }

    #third h2 {
        font-size: 40px;
    }

    #third h3 {
        font-size: 18px;
    }

    #third .third_boxes .box {
        width: 250px;
        height: 200px;
    }

    #third .third_boxes .box:first-child {
        width: 280px;
        height: 250px;
    }

    #last h1 {
        font-size: 60px;
    }

    #last .last_ment {
        font-size: 25px;
    }

    #last ul > li {
        margin: 0 80px 0 80px;
        font-size: 80px;
    }
}

@media screen and (max-width:480px) {

    #second .grid {
    grid-template-rows: 320px 130px 300px;
    }

    #second h2 {
        font-size: 28px;
    }

    #second .introduce_ment {
        font-size: 18px;
        max-width: 400px;
        margin: 0;
    }

    #second .slides .box {
        width: 110px;
        height: 100px;
    }

    #third .third_boxes .box {
        width: 130px;
        height: 100px;
        margin: 0 15px 0 15px;
    }

    #third .texts strong {
        font-size: 48px;
    }

    #third .texts h2 {
        font-size: 20px;
    }

    #third .texts h3 {
        font-size: 14px;
    }

    #third .third_boxes .box:first-child {
        width: 170px;
        height: 130px;
    }

    #last h1 {
        font-size: 40px;
    }

    #last .last_ment {
        font-size: 16px;
        margin-top: 10px;
    }

    #last ul > li {
        margin: 0 50px 0 50px;
        font-size: 50px;
    }
}

@media screen and (max-width:412px) {

    #second h2 {
        font-size: 24px;
    }

    #second .introduce_ment {
        font-size: 16px;
        max-width: 400px;
        margin: 0;
    }

    #second .slides .box {
        width: 100px;
        height: 90px;
        margin: 0 8px 0 8px;
    }
    
    #last h1 {
        font-size: 36px;
    }

    #last .last_ment {
        font-size: 14px;
        margin-top: 10px;
    }

    #last ul > li {
        margin: 0 40px 0 40px;
    }
}

@media screen and (max-width:360px) {

    #second .grid {
        grid-template-rows: 250px 130px 300px;
    }

    #second h2 {
        font-size: 20px;
    }

    #second .introduce_ment {
        font-size: 14px;
    }

    #second .slides .box {
        width: 80px;
        height: 70px;
    }

    #third h2 {
        font-size: 30px;
    }

    #third h3 {
        font-size: 10px;
    }

    #third .third_boxes .box {
        width: 100px;
        height: 70px;
        margin: 0 6px 0 6px;
    }

    #third .texts strong {
        font-size: 32px;
    }

    #third .texts h2 {
        font-size: 16px;
    }

    #third .texts h3 {
        font-size: 10px;
    }

    #third .third_boxes .box:first-child {
        width: 110px;
        height: 90px;
    }

    /* #third input[type='range']::-webkit-slider-thumb {
        width: 50px;
    }

    #third input[type='range'] + label { 
        width: 50px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        font-size: 1px;
        padding: 3px 0;
        top: -20px;
    } */

    #last h1 {
        font-size: 30px;
    }

    #last .last_ment {
        font-size: 10px;
        margin-top: 10px;
    }

    #last ul > li {
        margin: 0 30px 0 30px;
        font-size: 40px;
    }

}