@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root{
    --black-color:#191919;
    --white-color:#fff;
    --grey-color:#767676;
    --regular-size:400;
    --bold-size:700;
}

h1,h2,h3,h4,strong {
    font-family: 'Noto Sans KR';
    color: var(--black-color);
}

html {
    transition: all 0.5s ease-in;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    position: relative;
}

.glass {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 0;
    backdrop-filter: blur(5px);
    box-shadow: 10px 0 15px rgba(0,0,0,0.3);
    transition: 0.5s;
    transition-delay: 1s;
    border-radius: 10px;
}

.first video {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first h1 {
    position: absolute;
    top: 100px;
    color: var(--white-color);
    font-size: 10vh;
    line-height: 0.55em;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
    font-family: 'Dancing Script', cursive;
}

.clock-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
}

.needle {
    background-color: var(--black-color);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.needle.hour {
    transform: translate(-50%,-100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%,-100%) rotate(0deg);
    height: 100px;
}

.needle.second {
    transform: translate(-50%,-100%) rotate(30deg);
    height: 100px;
    background-color: #e74c3c;
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--black-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
    color: var(--white-color);
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.date {
    color: var(--white-color);
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.date .circle {
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
}

.first h2 {
    position: relative;
    top: 200px;
    color: var(--white-color);
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

/* second section */

.second h2 {
    position: absolute;
    top: 280px;
    left: 224px;
    font-size: 38px;
    max-width: 500px;
    font-weight: var(--bold-size);
}

.second h3 {
    position: absolute;
    top: 456px;
    left: 224px;
    font-size: 22px;
    max-width: 500px;
    font-weight: var(--regular-size);
    color: var(--grey-color);
    margin-top: 0;
}

/* .second .more {
    position: absolute;
    top: 564px;
    font-size: 22px;
    font-weight: var(--regular-size);
    color: var(--black-color);
} */

.second .boxes {
    position: absolute;
    top: 693px;
    left: 224px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second .boxes .box {
    margin: 0 11px 0 11px;
    background-color: #dddde6;
    top: 673px;
    width: 145px;
    height: 98px;
    cursor: pointer;
}

.second .boxes .box:first-child {
    margin-left: 0;
}

.second .boxes .box:last-child {
    margin-right: 0;
}

.second .big-box {
    position: absolute;
    background-color: #dddde6;
    right: 120px;
    width: 948px;
    height: 593px;
}

.second img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second .arrow {
    background-color: transparent;
    border: none;
}

button:focus {
    outline: none;
}

.secon button:active {
    background-color: red;
}

.second .boxes .chevron {
    padding: 11px 8px 11px 8px;
    background-color: rgba(0,0,0,0.5);
    color: var(--white-color);
    border: none;
    top: 50%;
}

.fa-arrow-right {
    font-size: 22px;
    font-weight: 300;
}

.box .chevron-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.box .chevron-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* third section */

.third h2 {
    position: absolute;
    top: 170px;
    left: 224px;
    font-size: 50px;
    font-weight: var(--bold-size);
}

.third h3 {
    position: absolute;
    color: var(--grey-color);
    top: 244px;
    left: 224px;
    font-size: 22px;
    margin-top: 0;

}

.third .boxes {
    position: absolute;
    top: 343px;
    left: 224px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.third .boxes .box {
    margin: 0 25px 0 25px;
    background-color: #dddde6;
    top: 377px;
    width: 480px;
    height: 332px;
}

.third .boxes .box:first-child {
    margin-left: 0;
    width: 550px;
    height: 400px;
}

.third .boxes .box:last-child {
    margin-right: 0;
}

.third .boxes .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third .hobby strong {
    position: absolute;
    top: 698px;
    left: 223px;
    font-family: "Roboto";
    font-size: 64px;
    font-weight:900;

}

.third .hobby h2 {
    position: absolute;
    top: 782px;
    font-size: 28px;
    font-weight: var(--bold-size);
    margin-top: 0;
}

.third .hobby h3 {
    position: absolute;
    top: 823px;
    font-size: 22px;
    color: var(--grey-color);
}

.third input[type='range'] {
    position: absolute;
    top: 927px;
    left: 223px;
    width: 80%;
    height: 2px;
    -webkit-appearance: none;
}

input[type='range'] + label { 
    background-color: var(--white-color);
    position: absolute;
    top: 867px;
    width: 80px;
    padding: 5px 0;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.third input[type='range']::-webkit-slider-runnable-track {
    background: #ededed;
    width: 100%;
    height: 2px;
    cursor: pointer;
}

.third input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 278px;
    background: var(--black-color);
    cursor: grab;
    margin-top: -2px;
}

input[type='range']:focus {
    outline: none;
}

/* last section */

.last h1 {
font-family: 'Roboto';
font-size: 120px;
position: absolute;
top: 200px;
}

.last h3 {
    position: absolute;
    font-size: 36px;
    top: 700px;
}

.last ul {
    list-style-type: none;
    display: flex;
    align-content: space-between;
    position: absolute;
    top: 850px;
}

.last ul > li {
    margin: 0px 150px 0 150px;
    font-size: 100px;
}

.last ul > li a {
    list-style: none;
    text-decoration: none;
}

.last ul > li a:link {
    color: var(--black-color);
}

.last ul > li a:visited {
    color: var(--black-color);
}

.last ul > li:first-child a:hover {
    transform: scale(1.2);
    transition: 0.5s;
    color: #612882;
}

.last ul > li:nth-child(2) a:hover {
    transform: scale(1.2);
    transition: 0.5s;
    color: #26C394;
}

.last ul > li:last-child a:hover {
    transform: scale(1.2);
    transition: 0.5s;
    color: #4284f4;
}